.vscode/**
.vscode-test/**
.github/**
docs/**
src/**
patches/**
dist/**
images/*.svg
.gitignore
.vscodeignore
.eslintrc*
tsconfig.json
**/*.ts
!out/**/*.js
**/*.map
*.vsix
CLAUDE.local.md
CLAUDE.md
*.log
.DS_Store

# Exclude devDependencies
node_modules/typescript/**
node_modules/@esbuild/**
node_modules/@typescript-eslint/**
node_modules/eslint/**
node_modules/@types/**
node_modules/@eslint/**
node_modules/@eslint-community/**
node_modules/patch-package/**
node_modules/esbuild/**

# Reduce node_modules size
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/*.md
**/node_modules/**/*.markdown
**/node_modules/**/CHANGELOG*
**/node_modules/**/HISTORY*
**/node_modules/**/.travis.yml
**/node_modules/**/.eslintrc*
**/node_modules/**/.nycrc
**/node_modules/**/.github/**
**/node_modules/**/tsconfig.json
**/node_modules/**/*.d.ts
**/node_modules/**/.editorconfig
